header { 
	color: #000000; 
	background-color: gold; /* 이전 버전 #906D3B */
	-webkit-box-shadow: 3px 3px 30px #888; 
	-webkit-transform: rotate(-45deg); 
	-moz-box-shadow: 3px 3px 30px #888; 
	-moz-transform: rotate(-45deg); 
	position: absolute; 
	padding: 5px 150px; 
	top: 80px; 
	left: -165px; 
	text-align:center; 
	font-size : 8pt;
	} 

body {
	background-color: #333333;
	font-family: 맑은 고딕, 굴림, arial; 
	font-size: 11pt;
	text-align: center;
	} 

a:link, a:visited {
	color: white;
	}

nav { 
	display:block; 
	float:center; 
	position: absolute;
	left: 50%;
	top: 20%;
	width: 444px;
	height: 444px;
	margin:  0 0 0 -222px;
	} 	
	
nav a:link, nav a:visited { 
	display: block; 
	padding: 10px; 
	text-decoration: none; 
	font-weight: bold; 
	margin: 8px; 
} 
 
nav a:hover {
	background-color: gold; /* 이전 버전 : #aaaaaa */
	color: black;
} 

footer {
	display:block; 
	}
